:root{
    --black-color: #303030;
    --white-color: #fdfdfd;
    --light-grey-color: #eceff0;
    --dark-grey-color: #bbc0c1;
     --dark-blue-color:#374f57;
    --orange-color:#ffa012;
    --blue-color:#47d0e5;
}

body{
   font-family: "Roboto", sans-serif;
    background-color:var(--white-color);
    margin: 0; /* Видаляємо відступи браузера */
    display: grid;
    height: 100vh; /* Встановлюємо висоту body на весь висоту вікна */
    grid-template-rows: 70px auto 80px;}

#sign-conteiner{
    background-color:var(--dark-blue-color);
    float:top;
    width:100%;}

#sign-conteiner img{
    width:50px;
    height:50px;
    padding: 3px 30px}

#sign-conteiner a{
    float:right;
    text-decoration: none;
    font-size:13pt;
    color:var(--dark-grey-color);
    padding:10px 5px;
    margin:5px 5px;
}
a{
    text-decoration: none;}
#sign-conteiner img{
    height:50px;
    width:50px;
    padding:10px 30px}

footer{
    border-top:2px solid var(--dark-grey-color);}

footer *{
    display:inline-block;
    color:var(--black-color);
}
footer img{
    float:left;
    height:50px;
    width:50px;
    padding:10px}

footer #git_hub_img{
    float:right;
    width:30px;
    height:30px;
    margin:10px;}

footer h3{
    margin-top:25px}

footer p{
    text-align:center;
    margin:25px 200px}

#login_conteiner{
    display:flex;
    align-items:center;
    justify-content:center;}

#home_text b{
    color:var(--orange-color);
}

#home_text{
    width:30%;
    margin:5%;}

#home_text *{
color:var(--black-color);
}
#home_img{
    width:30%;
    margin:5%;
    background-color:var(--dark-blue-color);
    padding:20px;
}

#home_text #sign{
    background-color:var(--orange-color);
    color:var(--white-color);
}
#home_text #login{
    background-color:var(--light-grey-color);
    color:var(--black-color);
}
#home_text a{
    padding:10px;
    margin:30px;
    border:1px solid var(--dark-grey-color)}

form {
    text-align:center;}

form input{
width:98%;
margin:1%;
height:30px;}

.orange-button{
    background-color:var(--orange-color);
    color:var(--white-color);
    width:100%;
    border:1px solid var(--dark-grey-color)}

form a{
color:var(--blue-color);}

form input[type="radio"] {
  width: 20px;
}

#add_subgect{
width:30%;
 float:left;
 margin:30px;
 display:flex;
 justify-content:between-space;
 flex-wrap: wrap;
 width:30%;}

.subject-block{

background-color:var(--white-color);
color:var(--orange-color);
border:3px solid var(--orange-color);
padding:20px;
margin:20px;}

#page_name{
    float:left;
}
