:root{
    --black-color: #303030;
    --white-color: #fdfdfd;
    --light-grey-color: #eceff0;
    --dark-grey-color: #bbc0c1;
     --dark-blue-color:#374f57;
    --orange-color:#ffa012;
    --blue-color:#47d0e5;
}

body{
   font-family: "Roboto", sans-serif;
    background-color:var(--white-color);
    margin: 0; /* Видаляємо відступи браузера */
    display: grid;
    height: 100vh; /* Встановлюємо висоту body на весь висоту вікна */
    grid-template-rows: 70px auto 80px;}

#sign-conteiner{
    background-color:var(--dark-blue-color);
    float:top;
    width:100%;}

#sign-conteiner img{
    width:50px;
    height:50px;
    padding: 3px 30px}

#sign-conteiner a{
    float:right;
    text-decoration: none;
    font-size:13pt;
    color:var(--dark-grey-color);
    padding:10px 5px;
    margin:13px 15px;
}
a{
    text-decoration: none;}
#sign-conteiner img{
    height:50px;
    width:50px;
    padding:10px 30px}

footer{
    border-top:2px solid var(--dark-grey-color);}

footer *{
    display:inline-block;
    color:var(--black-color);
}
footer img{
    float:left;
    height:50px;
    width:50px;
    padding:10px}

footer #git_hub_img{
    float:right;
    width:30px;
    height:30px;
    margin:10px;}

footer h3{
    margin-top:25px}

footer p{
    text-align:center;
    margin:25px 200px}

#login_conteiner{
    display:flex;
    align-items:center;
    justify-content:center;}

#home_text b{
    color:var(--orange-color);
}

#home_text{
    width:30%;
    margin:5%;}

#home_text *{
color:var(--black-color);
}
#home_img{
    width:30%;
    margin:5%;
    background-color:var(--dark-blue-color);
    padding:20px;
}

#home_text #sign{
    background-color:var(--orange-color);
    color:var(--white-color);
}
#home_text #login{
    background-color:var(--light-grey-color);
    color:var(--black-color);
}
#home_text a{
    padding:10px;
    margin:30px;
    border:1px solid var(--dark-grey-color)}

form {
    text-align:center;}

form input{
width:98%;
margin:1%;
height:30px;}

.orange-button{
    background-color:var(--orange-color);
    color:var(--white-color);
    width:100%;
    border:1px solid var(--dark-grey-color)}

form a{
color:var(--blue-color);}

form input[type="radio"] {
  width: 20px;
}

#add_subgect{
width:30%;
 float:left;
 margin:30px;
 display:flex;
 justify-content:between-space;
 flex-wrap: wrap;}

.smb-block{
    display:inline-block;
    text-align:center;
    width:175px;
    height:250px;
    background-color:var(--dark-blue-color);
    color:var(--light-grey-color);
    padding:20px;
    margin:20px;}

#page_name{
    float:left;
}

#menu{
    border:3px solid var(--dark-grey-color);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:150px;
    position:fixed;
    top:70px;
    left:-160px;
    height:85vh;
    text-align: center;
    background-color:var(--dark-blue-color);
    transition: left 0.5s ease;
}

#menu a{
    padding:20px 30px;
    color:var(--light-grey-color);
    }
#menu a:hover{
    background-color:var(--orange-color);}

#menu_p{
    display:inline-block;
    position:absolute;
    left:120px;
    font-size:17pt;
    color:var(--blue-color);}

#greate_new{
    width:100%;
    text-align:left;
    padding:0;
    margin:0;
    }
#greate_new input[type="submit"]{
    width:100px;}

#greate_new textarea{
height:150px;}

.arrows{
    text-align: center;
    margin:0 auto;
    width:30px;
    padding:0 10px;}
textarea{
    width:98%;
    border:3px solid var(--light-grey-color);}



#user_information *{
    color:var(--white-color);
    margin:10px;}

#user_information_conteiner{
    display:flex;
    justify-content:center;
    align-items:center;
    }

#user_information{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:300px;
    width:600px;
    background-color:var(--dark-blue-color);
    padding:30px;
    text-align:center;
}

.triangular{
    position:relative;
    width:150px;
    height:150px;
    bottom:-105px;
    right:-42px;
    margin:0;}

.arrows_conteiner{
    display:block;
    text-align:center;}

.arrows_conteiner *{
    display:inline-block;}

.article{
    width:calm(100%-40px);
    color:var(--dark-blue-color);
    background-color:var(--light-grey-color);
    padding:20px;
    margin:20px 0;
    }
.subject-block_conteiner{
    display:flex;
    text-align:center;
    width:100%;
    display:inline-block;
}

.subject-block{
    background-color:var(--dark-blue-color);
    color:var(--white-color);
    display:inline-block;
    margin:10px 20px;
    padding:10px;}