{% extends 'after_login_base.html' %}
{% block title %}Admin{% endblock %}
{% block body %}
    <h1>Доброго дня Адмін</h1>
<div class="sidebar">
    <ul style="list-style-type: none;"> <!-- Зміна стилю списку -->
        <li><a href="/"> Головна сторінка</a></li>
        <li><a href="/"> Новини</a></li>
        <li><a href="/"> Досягнення</a></li>
        <li><a href="/greate_subgect/admin"> Предмети</a></li>
        <li><a href="/"> Учні </a></li>
        <li><a href="/"> Учителі</a></li>

        <!-- Додайте інші пункти меню, які вам потрібні -->
    </ul>
</div>
{% endblock %}