{% extends 'root.html' %}
{% block title %}Edulandia{% endblock %}
{% block root %}
<nav id="sign-conteiner">

    <img src="/static\Assets\Edulandia_Logo.svg">
        <a href="/account/articles_list/page=1/{{account.id}}"> Новини</a>
        <a href="/"> Розклад</a>
        <a href="/"> Журнал</a>
        <a href="/account/marks/{{account.id}}"> Досягнення </a>
        <a href="/greate_subgect/{{account.id}}"> Предмети</a>
        <a href="/account/students_list/page=1/{{account.id}}"> Учні</a>
        <a href="/account/teachers_list/page=1/{{account.id}}"> Учителі</a></div>
        <a href="/account/{{account.id}}">Головна сторінка</a>
        <a href=""></a></div>

</nav>
{% block body %}{% endblock %}

{% endblock %}