{% extends 'after_login_base.html' %}
{% block title %}{{ account.full_name }}{% endblock %}
{% block body %}
<main>
    <div class="arrows_conteiner">
    <h1>Список вчителів</h1>
    <a href="/account/articles_list/page={{ page-1 }}/{{ account.id }}"><img src="/static\Assets\arrow_left.svg" class="arrows"></a>
    <h1>{{page}}</h1>
    <a href="/account/articles_list/page={{ page+1 }}/{{ account.id }}"><img src="/static\Assets\arrow_right.svg" class="arrows"></a>
</div>

{% if articles_list %}
{% for article in articles_list %}
<div class="article">
<h3>{{article.article_topic}}</h3>
    <h4>{{article.article_text}}</h4></div>
{% endfor %}
{% endif %}
<form method="post" id="greate_new">
    {% if account.role == "вчитиль" or account.role == "Admin" %}
    <h2>Створити новину</h2><br>
    <input type="text" name="article_topic" placeholder="Введіть тему новини"><br>
    <textarea name="article_text" placeholder="текст новини"></textarea><br>
    <input type = "submit" value="Створити" class="orange-button">
    {% endif %}
</form></div></main>
{% endblock %}
