{% extends 'befor_login_base.html' %}
{% block title %}Log in{% endblock %}
{% block body %}

        <form method="post">
            <h1>Вхід</h1>
            <p>Введіть данні свого акаунта Edulandia</p>
                <input type="email" name="email" id="email" placeholder="Електронна пошта"><br>
                <input type="password" name="password" id="password" placeholder="Пароль"><br>
                <input type="submit" class="orange-button" value="Увійти">
            <p>Не маєте акаунта? <a href="/sign_up">створіть його</a></p>
        </form>

{% endblock %}