{% extends 'befor_login_base.html' %}
{% block title %}Log in{% endblock %}
{% block body %}

        <form method="post">
            <h1>Реєстрація</h1>
            <p>Створіть свій акаунт на  Edulandia</p>
                <input type="radio" id="student" name="role" value="student">
                <label for="student">Учень</label>
                <input type="radio" id="teacher" name="role" value="teacher">
                <label for="teacher">Вчитель</label><br>
                <input type="email" id="email" name="email" placeholder="Електронна пошта" required><br>
                <input type="text" id="full_name" name="full_name" placeholder="Прізвище та ім'я" required><br>
                <input type="password" id="password" name="password" placeholder="Пароль" required><br>
                <input type="password" id="password2" name="password2" placeholder="Повторіть пароль" required><br>
                <input type="submit" class="orange-button" value="Створити"><br>
                <p>Маєте акаунта? <a href="/login">Увійти у нього</a></p>
        </form>

{% endblock %}