{% extends 'base.html' %}
{% block title %}{{ account.full_name }}{% endblock %}
{% block body %}
    <h1>{{ account.full_name }} - {{account.role}}</h1>
<div class="sidebar">
    <ul style="list-style-type: none;"> <!-- Зміна стилю списку -->
        <li><a href="/greate_subgect/{{account.id}}"> Головна сторінка</a></li>
        <li><a href="/"> Новини</a></li>
        <li><a href="/"> Розклад</a></li>
        <li><a href="/"> Журнал</a></li>
        <li><a href="/"> Досягнення </a></li>
        <li><a href="/"> Предмети</a></li>
        <li><a href="/"> Учні</a></li>
        <li><a href="/"> Учителі</a></li>


        <!-- Додайте інші пункти меню, які вам потрібні -->
    </ul>
</div>

{% endblock %}