{% extends 'after_login_base.html' %}
{% block title %}{{ account.full_name }}{% endblock %}
{% block body %}
    <h1>{{ account.full_name }}</h1>
    <h2>{{account.role}}</h2>
    <h2>{{account.email}}</h2>

<div class="sidebar">
    <ul style="list-style-type: none;"> <!-- Зміна стилю списку -->
        <li><a href="/account/{{account.id}}"> Головна сторінка</a></li>
        <li><a href="/"> Новини</a></li>
        <li><a href="/"> Розклад</a></li>
        <li><a href="/"> Журнал</a></li>
        <li><a href="/account/marks/{{account.id}}"> Досягнення </a></li>
        <li><a href="/greate_subgect/{{account.id}}"> Предмети</a></li>
        <li><a href="/account/students_list/page=1/{{account.id}}"> Учні</a></li>
        <li><a href="/"> Учителі</a></li>


        <!-- Додайте інші пункти меню, які вам потрібні -->
    </ul>
</div>

{% endblock %}